#slide0 div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#slide1_ver .qr_code {
  width: 400px;
  height: 400px;
}

#slide2 img {
  width: 70%;
}

.slide_n_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.slide_n_container div {
  width: 50%;
}

.first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.third {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.third_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.third img {
  margin: 0 1px !important;
}